@import "./mixins-variables";
@import "./animation";
@import "./header";
@import "./footer";

/****** Header ***********/

.header-arrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.back-arrow {
    position: absolute;
    left: 32px;
    height: 32px;
    width: 28px;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
}

.img-menu {
    max-width: 100%;
    max-height: 512px;
    width: 100%;
    object-fit: cover;
    margin: 0;

    @media (min-width: 1024px) {
        max-height: 512px;
    }
}

.container {
    margin: auto;
}

.menu-pages {
    margin-top: -42px;
    border-radius: 40px 40px 0 0;
    background-color: $light-grey;
    position: relative;

    @media (min-width: 1024px) {
        max-width: 1200px;
    }

    &__container {
        padding: 16px 22px 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: "Shrikhand", "cursive";
        font-size: 24px;
        font-weight: 500;
        padding-right: 70px;

        @media (min-width: 1024px) {
            font-size: 30px;
        }
    }
}

.menu-heart {
    @include heart-menu;
}


.menus {
    display: grid;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 16px;
        padding-left: 250px;
        gap: 15px;
    }
}

.menu {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;

    @media (min-width: 1024px) {
        max-width: 80%;
        padding: 10px;
        margin-top: -15px;
        margin-left: 5px;
    }

    &__title {
        text-transform: uppercase;
        position: relative;
        padding: 0px 8px 10px 18px;
        font-weight: normal;
        margin-bottom: auto;

        &:after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            position: absolute;
            left: 19px;
            top: 30px;
        }
    }

    &__plate {
        background-color: $white;
        border-radius: 15.04px;
        display: flex;
        margin: 8px 0;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        height: 60px;
        cursor: pointer;
        overflow: hidden;
        animation: itemAppear 0.6s;
        animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
        animation-fill-mode: both;
        transform: scale(0);
        max-width: 100%;
        padding-bottom: 10px;
    }

    @for $i from 0 to 9 {
        .delay-#{$i} {
          animation-delay:  #{$i/10}s;
        }
      }

    &__items {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    &__plate-title {
        font-weight: 500;
        font-size: 18px;
        margin: 10px;
    }

    &__description {
        font-weight: 300;
        font-size: 15.04px;
        margin: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 5px;
    }

    &__banner {
        height: 25px;
        width: 25px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }


    &__icon {
        color: $color-tertiary;
    }
}

.menu__confirmation {
    background-color: $color-tertiary;
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -52px;
    transition: 0.5s;
    margin-left: 20px;
    border-radius: 0 15px 15px 0;
}

.menu__plate:hover {
    .menu__confirmation {
        margin-right: -2px;
    }
}

.command-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 40px;
}