
/****** Mixin ***********/

@mixin btn-gradient {
    border: 0;
    padding: 12px 24px;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient($color-secondary, $color-primary);
    color: $white;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.5s;
    box-shadow: 4px 4px 10px rgba(255,255,255,0.25);
    cursor: pointer; 
    text-decoration: none;

    &:hover {
        background-color: white;
        box-shadow: 4px 4px 15px rgba(0,0,0,0.45);
        transform: scale(1.01);
    }   
}

@mixin heart-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;

    .fa-heart {
        font-size: 28px;
        position: absolute;
        margin-left: 60px;
    }

    .fa-solid {
        color: transparent;
        background-image: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        opacity: 0;
        transition: all 500ms ease-in;

        &:hover {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.1);
        }
    }
}





/****** Variables couleurs ***********/

$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$grey: #EAEAEA;
$dark-grey: #353535;
$light-grey: #f6f6f6;
$white: #fff;
$black: #000;
$Pixel16-Value: 16px;

