@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/****** Mixin ***********/
/****** Variables couleurs ***********/
/****** Mixin ***********/
/****** Variables couleurs ***********/
/****** Loader Section ***********/
/**loader index**/
.loader-container {
  position: fixed;
  background: #353535;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  animation: loader-stop 3.3s;
}

.point {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 35px;
  animation: loader-point 0.5s infinite alternate;
}

.p1 {
  background: #9356DC;
}

.p2 {
  background: #ff79da;
  animation-delay: 0.1s;
}

.p3 {
  background: #99e2d0;
  animation-delay: 0.2s;
}

@keyframes loader-point {
  0% {
    transform: scaleX(1.6);
  }
  100% {
    transform: translateY(-60px);
  }
}
@keyframes loader-stop {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
/**loader menu**/
.loader-container-menu {
  position: fixed;
  background: #353535;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.point-menu {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 35px;
}

.p1-menu {
  background: #9356DC;
}

@keyframes loader-point-menu {
  0% {
    transform: scaleX(1.6);
  }
  100% {
    transform: translateY(-60px);
  }
}
@keyframes loader-stop-menu {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes point-color {
  25% {
    background-color: #9356DC;
  }
  50% {
    background-color: #ff79da;
  }
  75% {
    background-color: #99e2d0;
  }
  100% {
    background-color: #EAEAEA;
  }
}
/****** Apparition vignets  pages menus ***********/
.vignets {
  animation: fadein 0.8s;
  animation-delay: 3ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.vignets1 {
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: scaleX(1.6);
  }
  to {
    opacity: 1;
  }
}
/****** Apparition check  pages menus ***********/
/****** Mixin ***********/
/****** Variables couleurs ***********/
/****** Header ***********/
.header-arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.back-arrow {
  position: absolute;
  left: 32px;
  height: 32px;
  width: 28px;
  top: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 18px;
  color: black;
}

.img-menu {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.img-menu-spé {
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
@media (min-width: 1024px) {
  .img-menu-spé {
    max-height: 512px;
  }
}

.container {
  margin: auto;
}

.menu-pages {
  margin-top: -32px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  position: relative;
}
@media (min-width: 1024px) {
  .menu-pages {
    max-width: 1200px;
  }
}
.menu-pages__container {
  padding: 16px 22px 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-pages__title {
  font-family: "Shrikhand", "cursive";
  font-size: 28px;
  font-weight: 400;
  padding-right: 70px;
}

.menu-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
  cursor: pointer;
}
.menu-heart .fa-heart {
  font-size: 28px;
  position: absolute;
  margin-left: 60px;
}
.menu-heart .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356DC, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 800ms ease-in-out;
}
.menu-heart .fa-solid:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}

.menus {
  display: grid;
}
@media (min-width: 1024px) {
  .menus {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding-left: 250px;
    gap: 15px;
  }
}

.menu {
  max-width: 100%;
  padding: 0 14px;
}
@media (min-width: 1024px) {
  .menu {
    max-width: 70%;
  }
}
.menu__title {
  text-transform: uppercase;
  position: relative;
  padding: 0px 8px 10px 19px;
  font-weight: normal;
}
.menu__title:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 19px;
  top: 30px;
}
.menu__plate {
  background-color: #fff;
  border-radius: 15.04px;
  display: flex;
  margin: 8px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 60px;
  cursor: pointer;
  overflow: hidden;
}
.menu__items {
  flex: 1;
}
.menu__plate-title {
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
}
.menu__description {
  font-weight: 300;
  font-size: 15.04px;
  margin: 10px;
}
.menu__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5px;
  padding-bottom: 10px;
}
.menu__banner {
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.menu__icon {
  color: #99e2d0;
}

.menu__confirmation {
  background-color: #99e2d0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -52px;
  transition: 0.5s;
  margin-left: 20px;
  border-radius: 0 15px 15px 0;
}

.menu__plate:hover .menu__confirmation {
  margin-right: -2px;
}

.command-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 40px;
}

/****** General ***********/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/****** Header ***********/
.header {
  height: 45px;
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  .header {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  height: 28px;
  padding: 14px;
}

/****** Info location ***********/
.info {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  height: 50px;
  position: relative;
}
.info__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}
.info__icon {
  justify-content: center;
  width: 12px;
  height: 16px;
  padding-top: 1px;
  padding-right: 5px;
  color: #353535;
}
.info__city {
  width: 109px;
  height: 19px;
}
.info__text {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: #EAEAEA;
}
@media (min-width: 1024px) {
  .info__text {
    font-size: 1.04vw;
  }
}

/****** about ***********/
.about {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgb(250, 250, 250);
  font-family: roboto;
}
.about__title {
  color: #000;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .about__title {
    font-size: 2.1vw;
  }
}
.about__text {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .about__text {
    font-size: 1.17vw;
  }
}

.gradient-btn {
  border: 0;
  padding: 12px 24px;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356DC);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition-duration: 0.5s;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.gradient-btn:hover {
  background-color: white;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.45);
  transform: scale(1.01);
}

/****** Fonctionnement ***********/
.tuto {
  height: 400px;
}
@media (min-width: 1024px) {
  .tuto {
    height: 240px;
  }
}
.tuto__container {
  height: 240px;
  background-color: #fff;
}
.tuto__title {
  font-family: roboto;
  padding: 16px;
  font-weight: 700;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .tuto__title {
    margin-left: 160px;
    padding: 0;
  }
}
.tuto__lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  .tuto__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 120px 0px 120px;
  }
}
.tuto__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 23px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: #fff;
  left: -10px;
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
}
.tuto__list {
  display: flex;
  text-align: center;
  position: relative;
  border: 1px transparent;
  border-radius: 20px;
  width: 70%;
  height: 72.38px;
  background: #f6f6f6;
  margin: 16px 0 16px 12px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.125);
}
@media (min-width: 1024px) {
  .tuto__list {
    width: 28%;
  }
}
.tuto__icon {
  font-size: 20px;
  color: #7e7e7e;
  margin: 28px 35px 0 15px;
}
.tuto__icon-shop {
  color: #9356DC;
}
.tuto__text {
  font-family: Roboto;
  font-weight: 500;
  size: 16px;
  margin-top: 28px;
  margin-left: -15px;
}

/****** Restaurant Section ***********/
.restaurants__container {
  background-color: #f6f6f6;
  padding: 15px 20px 80px 20px;
}
.restaurants__title {
  font-family: roboto;
  font-weight: 700;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .restaurants__title {
    margin-left: 140px;
  }
}

.cards {
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 43%);
    justify-content: space-around;
    margin: 20px 100px 0px 100px;
  }
}

.card {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  height: 192px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 16px 16px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__badge {
  display: flex;
  justify-content: center;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.card__content {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.card__name {
  flex: auto;
}
.card__title {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
}
.card__text {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.card .menu-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
  cursor: pointer;
}
.card .menu-heart .fa-heart {
  font-size: 28px;
  position: absolute;
  margin-left: 60px;
}
.card .menu-heart .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356DC, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition: all 800ms ease-in-out;
}
.card .menu-heart .fa-solid:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}

/****** Footer Section ***********/
.footer {
  background-color: #353535;
  gap: 16px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  color: #fff;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 1024px) {
  .footer__logo {
    padding: 38px 40px 20px 80px;
    font-size: 1.3vw;
  }
}
.footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .footer__nav {
    display: flex;
    padding: 10px;
    margin-inline-start: auto;
  }
}
.footer__nav-link {
  margin: 8px 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .footer__link {
    padding: 0px 20px 0px 10px;
  }
}
.footer__icon {
  width: 11px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */