@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "./buttons-variables";




/****** General ***********/

body {
    box-sizing: border-box;
    margin: 0;
    
}


/****** Header ***********/

.header {
    height: 63px;
    padding: 16px;
    box-shadow: 0 0 8px rgba(0,0,0,.25);
    position: relative;
    z-index: 1000;


    &__logo {
        display: flex;
        justify-content: center;
        height: 36px;
        padding: 14px;
    }
}


/****** Info location ***********/

.info {
    display: flex;
    justify-content: center;
    background-color: $grey;
    height: 50px;
    position: relative;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px;
    }

    &__icon {
        justify-content: center;
        width: 12px;
        height: 16px;
        padding-top: 1px;
        padding-right: 5px;
        color: $dark-grey;
    }

    &__city {
        width: 109px;
        height: 19px;
    }

    &__text {
        border: none;
        background-color: $grey;
        font-weight: 500;
        size: 16px;
        line-height: 18.75px;
        font-family: roboto;
    }
}

/****** about ***********/

.about {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    font-family: roboto;

    &__title {
        color: #000;
        font-size: 24px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        color: #353535;
    }

    &__btn {
        @include btn-gradient;
    }
}


/****** tuto ***********/

.tuto {
    height: 400px;
    top: 400px;

    &__title {
        font-family: roboto;
        padding: 16px;
        font-weight: 700;
        font-size: 24px;
    }

    &__lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;   
    }    

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 23px;
        border: 1px solid $color-primary;
        background-color: $color-primary;
        color: $withe;
        left: -10px;
        height: 20px;
        width: 20px;
        padding: 1%;
        border-radius: 50%;
    }

    &__list {
        display: flex;
        position: relative;
        border: 1px transparent; 
        border-radius: 20px;
        width: 335px;
        height: 72.38px;
        background: #F6F6F6;
        margin: 1rem 0 1rem 0.75rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    }

    &__icon  {
        font-size: 20px;
        color: #7e7e7e; 
        margin: 28px 35px 0 15px;
        
    }

    &__icon-shop {
        color: $color-primary;
    }

    &__text {
        font-family: Roboto;
        font-weight: 500;
        size: 16px;
        margin-top: 28px;
        margin-left: -15px;
    }

    
}